# Python-related
*.pyc
*.pyo
__pycache__/
*.log

# Environment variables
buzzify/.env

# Django-related
db.sqlite3
media/

# Virtual environment
venv/


# IDE-specific
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
